@CHARSET "UTF-8";

html,body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#cytoweb_container {
    width: 99.8%;
    position: relative;
    border: 1px solid #aaaaaa;
}

#cytoscapeweb {
    height: 92%;
    vertical-align: middle;
    padding: 2px;
    width: 99.5%;
    border: 1px /*#cfcfcf*/ solid #aaaaaa;
}

/*CSS Drop Down Menu*/
#export_graph{ height:35px; width : 99.5% ; display:block; padding:2px; margin: 0;  border:1px solid; border-radius:1px; }
#export_graph > ul {list-style:inside none; padding:0; margin:0;}
#export_graph > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}
#export_graph > ul > li > a{ outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); }
#export_graph > ul > li:first-child > a{border-radius:5px 0 0 5px;}
#export_graph > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; }
#export_graph ul li.name:hover > a:after{top:0; bottom:0;}
#export_graph > ul > li.name > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; }
#export_graph > ul > li.name:hover > a:before{top:19px;}
#export_graph ul li.name:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:0px; z-index:999; }
#export_graph ul li.name:hover > ul, #export_graph ul li.name:hover > div{display:block;}
#export_graph ul li.name > a:hover{background:#3f3f3f; border-color:#3f3f3f;}
#export_graph ul li > ul, #export_graph ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; }
#export_graph ul li > ul{width:200px;}
#export_graph ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#export_graph ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); }

#export_graph, #export_graph > ul > li > ul > li:last-child > a:hover, #export_graph > ul > li > ul > li a:hover{background:#bf4143; background:-moz-linear-gradient(top,  #bf4143 0%, #a13742 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf4143), color-stop(100%,#a13742)); background:-webkit-linear-gradient(top,  #bf4143 0%,#a13742 100%); background:-o-linear-gradient(top,  #bf4143 0%,#a13742 100%); background:-ms-linear-gradient(top,  #bf4143 0%,#a13742 100%); background:linear-gradient(top,  #bf4143 0%,#a13742 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf4143', endColorstr='#a13742',GradientType=0 );}
#export_graph{border-color:/*#cfcfcf*/ #712730;}
#export_graph > ul > li > a{border-right:1px solid /*#000 */#712730; color:#fff;}
#export_graph > ul > li > a:after{border-color:/*#444*/ #f0696c;}
#export_graph > ul > li > a:hover{background:/*#111*/ #8f2f34;}

#export_graph ul ul ul {position: absolute; left: 100% ; top: 0px; }
#export_graph > ul > li > ul > li > a{ outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); }
#export_graph > ul > li > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; }


/*Gradient*/
.gradient_container {float: right;}
#gradient_info_max {position: absolute; top: 50px; right: 40px;}
#gradient_info_min {position: absolute; top: 288px; right: 40px;}
.gradient {height: 250px; width: 12px; position: absolute; top: 50px; right: 25px; z-index:10; border: 1px solid; background: #ffffff; background: -webkit-linear-gradient( top, #ffffff , #ff4500 ); background: -moz-linear-gradient(top, #ffffff, #ff4500) ; background: -ms-linear-gradient(top, #ffffff, #ff4500);}


/*--------------Style sheet for the filter in a div called 'side'-------------*/
/*
.side {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 75.2%; //The page was divided 75-25 between cytoscapeweb and side
    height: 100%;
    width: 25%;
    display: block;
    list-style: inside none;
    padding: 2px;
}

.side .side_header {
    position: absolute;
    top: 0px;
    visibility: visible;
    display: block;
    height: 37px;
    width: 96%;
    padding: 2px;
    color: #fff;
    font:bold 13px Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px #cfcfcf solid;
    border-radius: 1px;

}

.side .side_header span { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); width: 124px;}

.side #filter {
    display: block;
    position: absolute;
    top: 42px;
    width: 96%;
    height: 90%;
    text-align: center;
    padding: 2px;
    border: 1px #cfcfcf solid;
}

#filter .slider_area {
    clear: both;
    top: 150px;
}

#filter .slider {
    margin: 1em 4em;
}

#filter .slider_min, #filter .slider_max {
    color: #707070;
    width: 3.125em;
    display: block;
    line-height: 1em;
    font-size: 0.8em;
    overflow: hidden;
}

#filter .slider_min {
    float: left;
    text-align: right;
    padding-right: 1.25em;
}

#filter .slider_max {
    float: right;
    text-align: left;
    padding-left: 1.25em;
}
*/
