<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>BiNChEWeb</display-name>
	<!--
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ImageViewer</servlet-name>
		<servlet-class>servlets.ImageViewerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageViewer</servlet-name>
		<url-pattern>/ImageViewer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ValidateInput</servlet-name>
		<servlet-class>servlets.ValidateInput</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateInput</servlet-name>
		<url-pattern>/ValidateInput</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GraphExporter</servlet-name>
		<servlet-class>servlets.GraphExporter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GraphExporter</servlet-name>
		<url-pattern>/GraphExporter/*</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>GetTable</servlet-name>
        <servlet-class>servlets.GetTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTable</servlet-name>
        <url-pattern>/getTable</url-pattern>
    </servlet-mapping>
     -->
</web-app>